/* .PaginationText {
  letter-spacing: 0px;
  color: #98a1b2;
  opacity: 0.7;
  font-size: 14px;
  padding-left: 10px;
  font-weight: normal;
} */

.MuiPaginationItem-page.Mui-selected {
  background-color: #3d358f !important;
  border: 1px solid #3d358f !important;
  opacity: 1;
  color: white;
}
